body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sin-mdm {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


/*.publication-title {
}*/

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
  padding-top: 3rem;
  padding-bottom: 0rem;
}

.publication-author-block .hero-body {
  padding-top: 1rem;
  padding-bottom: 0rem;
}


.publication-title {
    /*font-size: 10px;*/
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 5px;
}

.results-carousel .item {
  width: 50px;
  height: 50px;/*
  margin: 50px;
  overflow: hidden;
  padding: 50px*/;
  font-size: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  /*margin: -25px 0 0 -25px;*/
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}



.video-gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-gallery #gallery {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  position: relative;
}

.video-gallery .video-container {
  text-align: center;
  width: 15%;
  display: none;
  flex-shrink: 0;
}

.video-gallery .video-container.active {
  display: block;
}

.video-gallery video {
  cursor: pointer;
  pointer-events: none;
}

.video-gallery #modalVideo {
  width: 70%;
  max-width: 800px;
}

.video-gallery .controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none; /* Prevent buttons from interfering with clicks on videos */
}

.video-gallery .controls button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 24px;
  pointer-events: auto; /* Re-enable pointer events for the buttons */
}

.video-gallery .controls button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
